*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    height: 100vh;
    width: 100vw;
    font-size: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    display: flex;
}

.main-text {
    margin: auto;
    font-family: monospace;
    font-weight: 900;
    font-size: 15rem;
    color: rgb(236, 19, 19);
}
